.recipeCard>img{
    width: 300px;
    height: 300px;

}
.recipeCard{

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.blur{
    filter: blur(10px);
}
.recipeCard>div{
    font-size: 20px;
}