header{
    background: bisque;
    height: 100px;


}
header>div>img{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
ul{
    display: flex;
    text-decoration: none;
    font-size: 20px;

}